# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
repl.log

# IDE files
.vscode/*
!.vscode/launch.json    # keep launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Coverage (if Vitest is used with coverage)
coverage/

# Git
.git/
